{% extends 'base/base.html' %}
    
{% block content %}
<div class="row">
    <!-- left side -->
{% include './leftside.html' %}
{% load crispy_forms_tags %}
     <!-- right side -->
      <div class="col-md-9">
        <h3>Add Categories</h3>
       
        <form action="" method="POST" class="mx-auto" style="max-width: 500px;">
        {% csrf_token %}
        {{forms | crispy}}
        <button class="btn btn-sm btn-primary" type="submit">Submit</button>
        </form>
       
      
      </div>
</div>
{% endblock %}